@charset "utf-8";

.yt-video-default {}
.yt-video-align {
	display: table;
	margin-right: auto;
	margin-left: auto;
}
.yt-video-container {
	position: relative;
	padding-bottom: 56.34%; /* 16:9 */
	height: 0;
	overflow: hidden;
}
.yt-video-container iframe,  
.yt-video-container object,  
.yt-video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
